<!DOCTYPE html>
<html>
<head>
  <title>路地ラボ  |  logic-labo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <meta property="og:title" content="路地ラボ　(ロジラボ≒Logic Labo)" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://sakahukamaki.github.io/portfolio/" />
  <meta property="og:image" content="https://github.com/sakahukamaki/portfolio/blob/master/assets/images/bg.jpg?raw=true" />
  <meta property="og:site_name" content="路地ラボ　(ロジラボ≒Logic Labo)" />
  <meta property="og:description" content="副業フリーランスプログラマのポートフォリオ的なアレです" />
  <meta name="twitter:card" content="summary" />
</head>
<body>
  <header>
    路地ラボ<br>
    <span class="header-small">(ロジラボ≒Logic Labo)</span>
  </header>
  <section id="contents">
    <section id="directions">
      <h1 @click="toggle('aboutme')">
        <span v-if="show['aboutme']">▲</span>
        <span v-if="!show['aboutme']">▼</span>
        About me
      </h1>
      <div v-show="show['aboutme']" class="direction">
        プログラマ。フットワークは軽い方。<br>
        猫と暮らしています。<br>
        島根県出身、関東在住。<br>
        インターネット上のIDは主に@sakahukamaki。<br>
        2014年末からRailsを用いた開発の仕事をしています。<br>
        猫を飼っています。<br>
        業務上詳しいことについては<a href="https://savanna.io/@sakahukamaki" target="_blank">savannna.io</a>もしくは直接ご連絡ください。
      </div>
      <h1 @click="toggle('works')">
        <span v-if="show['works']">▲</span>
        <span v-if="!show['works']">▼</span>
        Works
      </h1>
      <div v-show="show['works']" class="direction">
        お仕事履歴
        <ul>
          <li>`rails new .` からの開発環境整備</li>
          <li>Rails3.0/Ruby1.8からRails6系/Ruby2.6へのアップデート</li>
          <li>その他2.0->2.2などのこの範囲に収まるアップデート</li>
          <li>Vagrant, Itamaeなどを用いた開発環境整備</li>
          <li>社内向けテスト環境整備</li>
          <li>新人研修（レビューア、メンター）</li>
          <li>コードレビュー</li>
          <li>診断結果管理システム（開発）</li>
          <li>テナント管理システム（開発・追加実装）</li>
          <li>応対記録システム（詳細設計～保守）</li>
          <li>料金計算システム</li>
          <li>決済API開発</li>
          <li>Rails5.0から6.1へのアップデート</li>
          <li>SNS運用保守（Rails5～7.x）</li>
          <li>シャレトンぽすと実装・運用</li>
        </ul>
      </div>
      <h1 @click="toggle('pastime')">
        <span v-if="show['pastime']">▲</span>
        <span v-if="!show['pastime']">▼</span>
        Pastime
      </h1>
      <div v-show="show['pastime']" class="direction">
        趣味で作ったもの
        <ul>
          <li><a href="https://sakahukamaki.github.io/cattower/tools/a3-linkskills.html" target="_blank">A3!リンクスキルチェッカー</a></li>
          <li><a href="https://origamike.web.fc2.com/" target="_blank">アンソロジー企画サイト</a>（スタジオ五組オリジナルアニメ「刀使ノ巫女」より）</li>
          <li><a href="https://dzsgnovel.web.fc2.com/" target="_blank">アンソロジー企画サイト</a>（ゲーム「文豪とアルケミスト」より）</li>
          <li><a href="https://shareton-post.lolipop.io/" target="_blank">シャレトンぽすと</a></li>
        </ul>
      </div>
      <h1 @click="toggle('stage')">
        <span v-if="show['stage']">▲</span>
        <span v-if="!show['stage']">▼</span>
        Talks
      </h1>
      <div v-show="show['stage']" class="direction">
        登壇履歴
        <ul>
          <li><a href="https://youtu.be/SHZWrJwXq1w?si=6OUMRFIzEyvfOwQe" target="_blank">推し活としてのrails new / Kaigi on Rails 2024</a></li>
          <li><a href="https://www.youtube.com/live/VOov1nyQTdw?si=lOyUbIUVjjmRB28P&t=15591" target="_blank">Ruby合宿をはじめとしたプログラミング教育を受けたプログラマは、15年後どう成長したか</a></li>
        </ul>
      </div>
      <h1 @click="toggle('qa')">
        <span v-if="show['qa']">▲</span>
        <span v-if="!show['qa']">▼</span>
        Q&A
      </h1>
      <div v-show="show['qa']" class="direction">
        Q. どうしてRailsのリポジトリがpublicにないの？<br>
        A. プライベートでコードを書いてません。指標の一つとしてRubyのGoldって資格を提出できます。<br>
        Q. なんのために働いているの？<br>
        A. うちの猫を幸せにするために働いています<br>
      </div>
      <h1 @click="toggle('sns')">
        <span v-if="show['sns']">▲</span>
        <span v-if="!show['sns']">▼</span>
        SNS
      </h1>
      <div v-show="show['sns']" class="direction">
        <ul>
          <li>Gmail: <a href="mailto:sakahukamaki@gmail.com" target="_blank">sakahukamaki</a></li>
          <li>twitter: <a href="https://twitter.com/sakahukamaki" target="_blank">@sakahukamaki</a></li>
          <li>GitHub: <a href="https://github.com/sakahukamaki" target="_blank">@sakahukamaki</a></li>
          <li>savanna.io: <a href="https://savanna.io/@sakahukamaki" target="_blank">@sakahukamaki</a></li>
          <li>Facebook: <a href="https://www.facebook.com/sakahukamaki" target="_blank">Asuka Ohtani</a></li>
        </ul>
      </div>
    </section>
  </section>
  <footer>
    Illustration by frend(thx!!!)
  </footer>
</body>
<script type="text/javascript">
  new Vue({
    el: '#directions',
    data: {
      show: {}
    },
    methods:{
      toggle: function(kind){
        this.$set(this.show, kind, !this.show[kind])
      },
    }
  })

</script>
</html>
